@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: "Source Sans Pro";
    font-display: swap;
    src: url("./fonts/SourceSansPro-Regular.woff2") format("woff2")
}

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Source Sans Pro";
    font-display: swap;
    src: url("./fonts/SourceSansPro-SemiBold.woff2") format("woff2")
}
@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: "Inter";
    font-display: swap;
    src: url("./fonts/Inter-SemiBold.woff2") format("woff2")
}

:root {
    --font: 'Source Sans Pro', Arial, sans-serif;
    --font-inter: "Inter", Arial, sans-serif;
    --color-eclipse: #3F3F3F;
    --color-whisper: #E5E5E5;
    --color-whisper-2: #EEEEEE;
    --color-pink-swan: #B4B4B4;
    --color-floral-white: #FFFEFB;
    --color-light-coral: #FF8484;
    --color-gun-powder: #49485E;
    --color-amulet: #7BAE73;
    --vp-1023: 1023px;
    --vp-767: 767px;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    width: 100%;
    height: 100%;
    color: black;
    background: var(--color-whisper);
    transition: color 0.5s, background-color 0.5s;
    line-height: 1.6;
    font-family: var(--font);
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

img {
    max-width: 100%;
}
